<mat-card style="width:100%; height:25px; background: #044CA6"></mat-card>
<div fxFlexFill fxLayoutAlign="space-around" class="home">

  <div fxFlex="300px" fxAlign="center" style="display:flex; justify-content: space-evenly; margin-top:100px; margin-right: 10%">

    <mat-card class="example-card" style="margin-left:15%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dairy</mat-card-title>
        <mat-card-subtitle>Shop by Dairy Products</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/dairy.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="dairyitems()">Select</button>
      </mat-card-actions>
    </mat-card>



    <mat-card class="example-card" style="margin-left:10%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Bakery</mat-card-title>
        <mat-card-subtitle>Shop by bakery</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/bakery.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="bakeryitems()">Select</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card" style="margin-left:10%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Meat&Poultry</mat-card-title>
        <mat-card-subtitle>Shop by Meat and Poultry</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/meat.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="meatitems()">Select</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
