<mat-card style="width:100%; background: #044CA6"></mat-card>
<div fxFlexFill fxLayoutAlign="space-around" class="login">

  <div fxFlex="300px" fxAlign="center">

    <div class="login">
      <mat-card style="width: 20%;
    margin-left: 40%;" class="example-card">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="login-header-bar">
            <img width="300" alt="Angular Logo" src="../assets/logo.jpg">
          </div>
          <mat-toolbar class="logo" fxLayoutAlign="center center">
            <div fxLayoutAlign="center center">


            </div>
          </mat-toolbar>
          <mat-card-content fxLayout="column">
            <div>
              <mat-form-field>
                <input id="ork-input-username" matInput type="email" placeholder="User Name" formControlName="emailFormControl">
                <mat-error id="ork-input-username-error" *ngIf="userForm.controls['emailFormControl'].hasError('required')">
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input  id="ork-input-pwd" matInput type="password" placeholder="password" formControlName="passwordFormControl">
              </mat-form-field>
            </div>
          </mat-card-content>
          <button id="ork-btn-login" mat-raised-button class="mat-raised login-login-button" type="submit" align="left">Login</button>
          <a style="margin-left:2%; color:blue;" (click)="goToSignup()">Signup here...</a>
        </form>
      </mat-card>

    </div>
  </div>
</div>
