<mat-card style="width:100%; height:35px; background: #044CA6; display:flex; justify-content: space-between">
  <h2 style="color:white">Shopping Cart</h2>
  <button (click)="placeOrder()" mat-raised-button type="button" align="right" style="margin-right: 2%;"><strong>Place Order</strong></button>
</mat-card>

<mat-card>
  <mat-card-title>Total Amount = {{total}} <strong>$</strong></mat-card-title>
</mat-card>
<table style="width:94%; margin-left:3%; margin-top: 30px;">
<tr>
  <td>Item Name</td>
  <td>Price($)</td>
  <td>Quantity</td>
  <td>Amount</td>
</tr>
<tr *ngFor="let item of list">
  <td>{{item.name}}</td>
  <td>{{item.price}}</td>
  <td>{{item.quantity}}</td>
  <td>{{item.quantity * item.price}}</td>
</tr>

</table>


