<mat-card style="width:100%; height:25px; background: #044CA6"></mat-card>
<div fxFlexFill fxLayoutAlign="space-around" class="home">

  <div fxFlex="300px" fxAlign="center" style="display:flex; justify-content: space-evenly; margin-top:100px; margin-right: 10%">

    <mat-card class="example-card" style="margin-left:15%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Product</mat-card-title>
        <mat-card-subtitle>Shop by product</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/product.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="product()">Select</button>
      </mat-card-actions>
    </mat-card>

    

    <mat-card class="example-card" style="margin-left:10%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Category</mat-card-title>
        <mat-card-subtitle>Shop by category</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/category.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="gosubcategory()">Select</button>
      </mat-card-actions>
    </mat-card>

    
  </div>
</div>
