
.register {
  margin-top: 60px;

}
.login-header-bar {
  width: 300px;
  margin-left: -24px;
  background-color: white;
  padding: 0px;
  margin-top: -5%;
}


.login-login-button {
  background-color: #FFFFFF;
  color:red;
//margin-left:13px;
}
.login-logo-image {
  width: 100px;
  padding: 16px
}
.logo {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.05);
}
.logo-image {
  display: block;
  width: 150px;
  min-width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 2px;
}

.logo-text {
  padding-left: auto;
  padding-right: auto;
  display: block;
  width: 100px;
  min-width: 100px;
  margin-left: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 2px;
}


.forgot-link {
  float: right;
  text-align: right;
  display: flex;
}

.mat-input-container {
  display: block;
  width: 100% !important;
}
.mat-card-header {
  height:64px !important;
}
.mat-toolbar {
  min-height:64px;
}
.mat-card {
  padding: 24px;
}

.mat-toolbar-row {
  height: 64px !important;
}
